*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(90deg, #667eea, #764ba2);
  color: white;
  padding: 20px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NAVBAR GLASS EFFECT */
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  
  background: rgba(255, 255, 255, 0.15); /* transparent */
  backdrop-filter: blur(12px);           /* BLUR MAGIC */
  -webkit-backdrop-filter: blur(12px);

  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.left{
  font-size: 22px;
  font-weight: 600;
  color: white;
}

/* NAV LINKS */
.right ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 28px;
}

.right ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  transition: 0.3s;
}

/* Hover effect */
.right ul li a:hover{
  background: rgba(255, 255, 255, 0.25);
  color: #000;
}


.card{
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.308);
  transition: 0.2s ease-in-out ;
}

.card:hover{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.616);
}