*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 20px;
  /* color: white; */
}

.parent{
  padding: 20px;
  display: flex; 
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  height: 350px;
  width:300px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #dadada;
}

.top button{
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 10px;
  border: 1px solid #dadada;
  font-size: 13px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center{
  padding: 20px 0px;
}
.center h3{
  font-size: 18px;
  font-weight: 500;
}

.center span{
  font-size: 10px;
  color: #b8b8b8;
  font-weight: 500;
}


.center h2{
  font-size: 20px;
}

.center .tag{
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4{
  border-radius: 10px;
  background-color: #b1b1b1;
  padding: 3px 6px;
  font-weight: 400;
}
.card .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.card .bottom button{
  padding: 4px 8px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}

.card .bottom p{
  font-size: 12px;
  color: #b1b1b1;
}