*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  width: 100%;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(210, 223, 224, 0.671);
  padding: 18px;
}

.nav h3{
  font-size: 24px;
  color:rgb(212, 82, 21);
}

.nav .navlist{
  display: flex;
  /* text-decoration: none;
  list-style: none; */
  gap: 14px;
  color: aliceblue;
}

.page{
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
